NEXT_PUBLIC_SITE_URL=https://followpact.netlify.app
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RATE_LIMIT_SALT=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_FOUNDING_PAYMENT_LINK=
STRIPE_FOUNDING_PRICE_ID=
BREVO_API_KEY=
BREVO_MARKETING_LIST_ID=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=FollowPact
BREVO_REPLY_TO_EMAIL=followpact@gmail.com
BREVO_WAITLIST_TEMPLATE_ID=
BREVO_PURCHASE_TEMPLATE_ID=
BREVO_BETA_ACCESS_TEMPLATE_ID=
BREVO_PAYMENT_FAILED_TEMPLATE_ID=
BREVO_REFUND_TEMPLATE_ID=
BREVO_WEBHOOK_TOKEN=
ADMIN_API_TOKEN=
